<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script src="/js/handlebars.runtime.js"></script>
    <script src="/js/helpers.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/helpers.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/curator.js"></script>
    <script src="/js/users.js"></script>
    <script src="/js/exhibit.js"></script>
    <script src="/js/piece.js"></script>
    <script type="text/javascript"></script>
  </head> 
<body>

<div class="container">
    <div id="nav" class = "navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" id = "logo" href="#">Art App</a>
            </div>
            <div class="collapse navbar-collapse" id= "logged-in-nav">
            </div>
        </div>
    </div>

    <div id= "main-container">
    </div>

    <div id="footer" class = "navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text navbar-right">
                Made by
                <a href="https://github.com/laureneclark">
                    Lauren Clark
                </a>
            </p>
        </div>
    </div>

  </div>
</body>
</html>