body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcome-text {
	font:20pt;
}

.piece-img {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.question{
  	/*border-color: #28546C !important;*/
  	float: left;
  	width: 90%;
}

.contribution {
	float: right;
	border-color: #28784D !important;
	width: 90%;
}

.question-header {
/*	background-color: #28546C !important;
  	border-color: #28546C !important;*/
}

.contribution-header{
	background-color: #28784D !important;
  	border-color: #28784D !important;

}

.exhibit-header{
	height: 60px;
}

.body {
	background-image: url("../images/welcome.jpeg") !important;
}

.thumbnail-piece-pre {
	height: 400px;
}

.thumbnail-influence {
	height: 500px;
}

.thumbnail-favorite {
	height: 400px;
}

.thumbnail-piece-convo {
	height: 200px;
	width: 33%;
	float:right;
}

.convo-text{
	width: 66%;
}

.back-btn {
	height: 50px;
}

.piece-description {
	padding-top:20px;
}

.metrics {
	padding-top: 30px;
}

.curator-tools {
	padding-top: 30px;
}


