body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcome-text {
	font:20pt;
}

.piece-img {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.question{
  	border-color: #28546C !important;
  	width: 90%;
}

.contribution {
	border-color: #28784D !important;
	width: 90%;
}

.question-header {
	background-color: #28546C !important;
  	border-color: #28546C !important;
}

.contribution-header{
	background-color: #28784D !important;
  	border-color: #28784D !important;

}

.body {
	background-image: url("../images/welcome.jpeg") !important;
}

.thumbnail {
	height: 400px;
}

