body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcome-text {
	font:20pt;
}

.piece-img {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.panel-heading-q{
	background-color: #337ab7;
  	border-color: #337ab7;
}

