<div class="panel panel-deafult panel-primary contribution">
	<div class="panel-heading contribution-header">Posted by {{author.local.username}} at {{time}}</div>
	<div class="panel-body">{{text}}</div>
</div>