<div id ='nav-items' <ul class='navbar-nav nav'> 
     <ul class='nav navbar-nav navbar-right'>
     <li><a href='#' id = 'curator-panel-btn'>Curator Panel</a></li>
     <li><a href='#' id='logout-link'>Logout</a></li></ul>
  </ul></div>