<div class=" panel panel-primary exhibit-preview" data-exhibit-id={{_id}}>
<div class="panel-heading exhibit-header">{{title}}</div>
<div class = "panel-body">
	<h5>{{location}}</h5>
	<button class="btn view-exhibit-btn" id={{_id}}> View </button>
</div>
</div>
