<div id="gallery">
  <div class = "page-header">
    <h1> {{user.local.username}}'s Gallery </h1>
  </div>
</div>
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>
 </div>
<div class = "exhibits">
	<div class="row">
		{{#each exhibits}}
			{{#if published}}
				<div class="col-md-3 col-sm-4">
					{{>exhibit-preview}}
				</div>
			{{/if}}
		{{/each}}
	</div>
</div>