<div id="signup">
  <h1>Sign Up</h1>
  <div class="error">
    {{#if error}}
      {{error}}
    {{/if}}
  </div>
  <form id="signup-form">
    <div class="form-group"><input type="text" name="username" class="form-control" placeholder="Username" required /></div>
    <div class="form-group"><input type="password" name="password" class="form-control" placeholder="Password" required /></div>
    <div class="form-group"><input type="password" name="confirm" class="form-control" placeholder="Confirm Password" required /></div>
    <div class="form-group"><input type="text" name="email" class="form-control" placeholder="Your MIT Email" required /></div>
    <div class="form-group"><input type="text" name="role" class="form-control" placeholder="Role" required /></div>
    <button type="submit" class ="btn btn-default" id="signup-submit"> Sign Up </button>
  </form>
</div>