<div class = "container" id="user-page" data-user-id ={{user._id}}>
	<div class = "page-header">
		<h1> Welcome {{user.local.username}} </h1>
	</div>

	<div id="saved-resources">
		<h2>Saved Resources</h2>
		{{#each user.saved}}
			{{>resource-panel}}
		{{/each}}
	</div>

	<div id="visited-exhbits">
		<h2>Visited Exhibits</h2>
		<div class="row">
		{{#each user.visited}}
				<div class="col-md-3 col-sm-4">
					{{>exhibit-preview}}
				</div>
		{{/each}}
		</div>
	</div>

	<div id="questions-contributed">
		<h2>Questions You Have Contributed To</h2>
		{{#each user.contributed}}
			<h5> {{text}} </h5>
			<button class="btn view-piece-btn" id={{piece}}>View</button>
		{{/each}}
	</div>

	<div id="favorited-pieces">
		<h2>Pieces You Have Favorited</h2>
		<div class="row">
			{{#each user.favorites}}
				<div class="col-md-3 col-sm-4">
					{{>favorite-panel}}
				</div>
			{{/each}}
		</div>
	</div>
</div>