<div id="welcome">
	<div class = "page-header jumbotron">
		<h1> Welcome to Art App</h1>
        <div class="nav nav-pills">
	 	<li><button class="btn btn-default" id = "signup-btn"> Signup</button></li>
	  	<li><button class="btn btn-default" id="login-btn"> Login</button> </li>
	</div>
	</div>

</div>