<div background="../images/welcome.jpeg" id="welcome">
	<div class="welcome">
	<div class = "page-header jumbotron">
		<h1>Welcome to the Art Explorer</h1>
		<h3>
			for the <a href="https://listart.mit.edu" target="_blank">MIT List Visual Art Center</a>
		</h3>
        <div class="nav nav-pills">
	 	<li><button class="btn btn-default" id = "signup-btn"> Signup</button></li>
	  	<li><button class="btn btn-default" id="login-btn"> Login</button> </li>
	</div>
	</div>
	</div>

</div>